[submodule "biscuit/vendor/spdlog"]
	path = Biscuit/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Biscuit/vendor/GLFW"]
	path = Biscuit/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Biscuit/vendor/imgui"]
	path = Biscuit/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Biscuit/vendor/glm"]
	path = Biscuit/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Biscuit/vendor/stb"]
	path = Biscuit/vendor/stb
	url = https://github.com/nothings/stb
